<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>在线洽谈</title>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="askOnline.css">
    <link rel="stylesheet" href="combo.select.css">
</head>
<body>
<div class="ask_online">
    <div class="ent_list" data-title="entName">
        
        <div class="content">
            <div class="add_talker">
                <i class="fa fa-plus "></i>
                <span class="name" data-title="addTalker">添加新对话</span>
            </div>
            <div class="bg_blue" id="1121212212">
                <span class="name" data-title="公司1">公司1</span>
                <span class=""></span>
            </div>
            <div id="112112">
                <span class="name" data-title="四川至善网络科技有限公司">四川至善网络科技有限公司</span>
                <span class="red_dot"></span>
            </div>
            <div id="11212212">
                <span class="name" data-title="四川至善网络阿萨飒飒是科技有限公司">四川至善网络阿萨飒飒是科技有限公司</span>
                <span class="red_dot"></span>
            </div>
            <div id="1121212212">
                <span class="name" data-title="公司1">公司1</span>
                <span class=""></span>
            </div>
            <div id="112112">
                <span class="name" data-title="四川至善网络科技有限公司">四川至善网络科技有限公司</span>
                <span class="red_dot"></span>
            </div>
            <div id="11212212">
                <span class="name" data-title="四川至善网络阿萨飒飒是科技有限公司">四川至善网络阿萨飒飒是科技有限公司</span>
                <span class="red_dot"></span>
            </div>
            <div  id="1121212212">
                <span class="name" data-title="公司1">公司1</span>
                <span class=""></span>
            </div>
            <div id="112112">
                <span class="name" data-title="四川至善网络科技有限公司">四川至善网络科技有限公司</span>
                <span class="red_dot"></span>
            </div>
            <div id="11212212">
                <span class="name" data-title="四川至善网络阿萨飒飒是科技有限公司">四川至善网络阿萨飒飒是科技有限公司</span>
                <span class="red_dot"></span>
            </div>
            <div id="1121212212">
                <span class="name" data-title="公司1">公司1</span>
                <span class=""></span>
            </div>
            <div id="112112">
                <span class="name" data-title="四川至善网络科技有限公司">四川至善网络科技有限公司</span>
                <span class="red_dot"></span>
            </div>
            <div id="11212212">
                <span class="name" data-title="四川至善网络阿萨飒飒是科技有限公司">四川至善网络阿萨飒飒是科技有限公司</span>
                <span class="red_dot"></span>
            </div>
            <div id="1121212212">
                <span class="name" data-title="公司1">公司1</span>
                <span class=""></span>
            </div>
            <div id="112112">
                <span class="name" data-title="四川至善网络科技有限公司">四川至善网络科技有限公司</span>
                <span class="red_dot"></span>
            </div>
            <div id="11212212">
                <span class="name" data-title="四川至善网络阿萨飒飒是科技有限公司">四川至善网络阿萨飒飒是科技有限公司</span>
                <span class="red_dot"></span>
            </div>
            <div id="1121212212">
                <span class="name" data-title="公司1">公司1</span>
                <span class=""></span>
            </div>
            <div id="112112">
                <span class="name" data-title="四川至善网络科技有限公司">四川至善网络科技有限公司</span>
                <span class="red_dot"></span>
            </div>
            <div id="11212212">
                <span class="name" data-title="四川至善网络阿萨飒飒是科技有限公司">四川至善网络阿萨飒飒是科技有限公司</span>
                <span class="red_dot"></span>
            </div>
        </div>
        <div class="slider hide">
            <div></div>
        </div>
    </div>
    
    <div class="talk_view">
        <div class="head bg_blue"><span data-title = 'entName'>四川至善网络科技有限公司</span></div>
        <div class="main">
            <div class="now half_view">
                <div class="new_msg">
                    <div class="content">
                        <div class="date"><span>2017年3月12日  12:13:45</span></div>
                        <div class="him"><p>好的，我会尽快提供给你的</p></div>
                        <div class="mine"><span class='btn_warn btn' title='消息发送失败,点击重新发送'>!</span><p>
                            
                            数据有误，怎么会这wqwqwwqwwwwwwwwwwwwwwwewewewewewwe么少，大秦网大秦网定期多请检查一下，及时和我汇报调整</p></div>
                        <div class="date"><span>2017年3月12日  12:13:45</span></div>
                        <div class="mine"><p>你好，你的申请我行已经受理，请你尽快提供相关资料</p></div>
                    </div>
                    <div class="slider hide">
                        <div></div>
                    </div>
                </div>
                <div class="input">
                    <textarea class="input_area" id=""></textarea>
                </div>
                <div>
                    <span class="bg_blue btn_submit" title="发送">发送</span>
                    <span class="btn btn_history" title="历史消息"></span>
                </div>
            </div>
            <div class="history half_view">
                <div class="bg_grey history_title">
                    <span>历史消息</span>
                    <span class="btn btn_close" title="关闭"></span>
                </div>
                <div class="history_msg">
                    <div class="content">
                            <div class="date"><span>2017年3月12日  12:13:45</span></div>
                            <div class="him"><p>好的，我会尽快提供给你的</p></div>
                            <div class="mine"><p>数据有误，怎么会这wqwqwwqwwwwwwwwwwwwwwwewewewewewwe么少，大秦网大秦网定期多请检查一下，及时和我汇报调整</p></div>
                            <div class="date"><span>2017年3月12日  12:13:45</span></div>
                            <div class="mine"><p>你好，你的申请我行已经受理，请你尽快提供相关资料</p></div>
                            <div class="him"><p>好的，我会尽快提供给你的</p></div>
                            <div class="mine"><p>数据有误，怎么会这wqwqwwqwwwwwwwwwwwwwwwewewewewewwe么少，大秦网大秦网定期多请检查一下，及时和我汇报调整</p></div>
                            <div class="date"><span>2017年3月12日  12:13:45</span></div>
                            <div class="mine"><p>你好，你的申请我行已经受理，请你尽快提供相关资料</p></div>
                            <div class="date"><span>2017年3月12日  12:13:45</span></div>
                            <div class="him"><p>好的，我会尽快提供给你的</p></div>
                            <div class="mine"><p>数据有误，怎么会这wqwqwwqwwwwwwwwwwwwwwwewewewewewwe么少，大秦网大秦网定期多请检查一下，及时和我汇报调整</p></div>
                            <div class="date"><span>2017年3月12日  12:13:45</span></div>
                            <div class="mine"><p>你好，你的申请我行已经受理，请你尽快提供相关资料</p></div>
                            <div class="him"><p>好的，我会尽快提供给你的</p></div>
                            <div class="mine"><p>数据有误，怎么会这wqwqwwqwwwwwwwwwwwwwwwewewewewewwe么少，大秦网大秦网定期多请检查一下，及时和我汇报调整</p></div>
                            <div class="date"><span>2017年3月12日  12:13:45</span></div>
                            <div class="mine"><p>你好，你的申请我行已经受理，请你尽快提供相关资料</p></div>
                    </div>
                    <div class="slider hide">
                        <div></div>
                    </div>
                </div>
                <div class="bg_grey bottom">
                    <span class="btn btn_search" title="查询"></span>
                    <span class="search_box hide">
                        <input class="search_input" type="text">
                        <span title="查询"></span>
                    </span>
                    <span class="btn btn_latest" title="末页"></span>
                    <span class="btn btn_next" title="下一页"></span>
                    <span class="btn btn_last" title="上一页"></span>
                    <span class="btn btn_lastest" title="首页"></span>
                    <span class="btn btn_calendar" title="日历"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="select">
        <div class="title">查找联系人</div>
        <select class="list" name="enterprsie_list" id=""></select>
        <div>
            <span class="add_chat btn bg_blue">确定</span>
            <span class="cancel btn">取消</span>
        </div>
    </div>
    <div  class="back"></div>
</div>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="jquery.combo.select.js"></script>
<script src="askOnline.js"></script>
<script>
function sub_curry(fn) {
    var args = [].slice.call(arguments, 1);
    return function() {
        return fn.apply(this, args.concat([].slice.call(arguments)));
    };
}

function curry(fn, length) {

    length = length || fn.length;

    var slice = Array.prototype.slice;

    return function() {
        if (arguments.length < length) {
            var combined = [fn].concat(slice.call(arguments));
            return curry(sub_curry.apply(this, combined), length - arguments.length);
        } else {
            return fn.apply(this, arguments);
        }
    };
}

var fn = curry(function(a, b, c) {
    return [a, b, c];
});
console.log(fn("a", "b"));
fn("a", "b", "c") // ["a", "b", "c"]
fn("a", "b")("c") // ["a", "b", "c"]
fn("a")("b")("c") // ["a", "b", "c"]
fn("a")("b", "c") // ["a", "b", "c"]
</script>
</body>
</html>