*{
    padding: 0;
    margin: 0;
    border: none;
}
.main {
    overflow: hidden;
    height: 100vh;
    padding: 0 300px 0 200px;
}
.left, .content, .right{
    float: left;
    position: relative;
    color: white;
}
.left {
    width: 200px;
    left: -200px;
    margin-left: -100%;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    background-color: #1C2B36;
}

.right {
    width: 300px;
    right: -300px;
    margin-left: -300px;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    background-color: #1C2B36;
}

.content {
    width: 100%;
    min-height: 10vh;
}